/*Começo das estilizações gerais*/
* {
  /*Aplica estilo para todos os elementos*/
  font-family: Inter, sans-serif;
  color: #454545;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

p {
  margin: 0;
}
/*Fim das estilizações gerais*/

/*Começo da estilização da tag main*/
.main-content {
  background-color: #ffffff;
  width: 64rem; /*Utilizei unidade de medida rem para torna o texto mais adaptável a vários tamanhos de telas*/
  margin: 0 auto; /*Centraliza a main*/
  padding: 2rem 5rem; /*Adiciona 2rem de distância da borda na vertical e 5rem na horizontal*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*Adiciona efeito de sombra no elemento*/
}
/*Fim da estilização da tag main*/

/*Classe dash adicionada para criar uma separação entre as seções*/
.dash {
  border-bottom: 4px solid #f2f2f2f2;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
/*Fim da estilização da classe dash*/

/*Começo da estilização da tag nav*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar .logo {
  width: 250px;
}
/*Fim da estilização da tag nav*/

/*Classe menu criada para estilizar a lista de links das seções*/
.menu {
  list-style: none; /*Define propriedades de estilo da lista (retira os marcadores).*/
  display: flex;
  flex-direction: row;
  gap: 5rem; /*Adiciona espaço entre as colunas*/
  margin: 0;
}

.menu a {
  font-size: 1.25rem;
  text-decoration: none; /*Define aparência das linhas decorativas no texto (retira sublinhado)*/
  font-weight: bold;
}

.menu a:hover {
  /*Altera o estilo do elemento ao passar o cursor do mouse em cima dele*/
  font-weight: bold; /*Define peso da fonte (negrito)*/
  color: #6c63ff;
}
/*Fim da estilização da classe menu*/

/*Começo da estilização da tag header*/
.header-content h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

.header-content p {
  text-align: center;
  font-size: 1.3rem;
}

.header-content .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  cursor: pointer; /*Define cursor do mouse como um ponteiro em cima do elemento*/
}

.header-content .social-media img:hover {
  /*Aplicação do hover na tag img*/
  opacity: 0.5;
}
/*Fim da estilização da tag header*/

/*Começo da estilização da tag section, seção Sobre*/
.about-content {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.about-content h2 {
  margin-top: 0;
  font-size: 2rem;
}

.about-content p {
  font-size: 1.5rem;
  text-align: justify;
}

.about-content span {
  color: #6c63ff;
}

.about-content img {
  width: 300px;
}
/*Fim da estilização da tag section, seção Sobre*/

/*Começo da estilização da tag section, seção Interesses*/
.interests-content {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.interests-content h2 {
  margin-top: 0;
  font-size: 2rem;
}

.interests-content ul {
  font-size: 1.5rem;
  text-align: justify;
  list-style: none;
  padding: 0;
}

.interests-content ul li {
  line-height: 2.5rem; /*Usei para configurar a distância entre as linhas dos textos*/
}

.interests-content img {
  width: 567px;
}
/*Fim da estilização da tag section, seção Interesses*/

/*Começo da estilização da tag section, seção Contato*/
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
}

.contact-content h2 {
  margin-top: 0;
  font-size: 2rem;
}

.contact-content img {
  width: 300px;
}

.form-box {
  width: 700px;
}

.text-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.text-box input {
  background-color: #f2f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #6c63ff;
  width: 50%;
  box-sizing: border-box; /*Resolve o problema do padding aumentar o tamanho dos inputs*/
}

.text-message {
  margin-top: 1rem;
}

.text-message textarea {
  background-color: #f2f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #6c63ff;
  width: 100%;
  box-sizing: border-box; /*Resolve o problema do padding aumentar o tamanho da textarea*/
}

.button-box {
  margin-top: 0.7rem;
  text-align: right;
}

.submit-button {
  background-color: #6c63ff;
  border-color: #6c63ff;
  color: #f2f2f2;
  padding: 0.2rem 1.2rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.8;
}
/*Fim da estilização da tag section, seção Contato*/

/*Começo da estilização da tag footer*/
.footer-content {
  text-align: center;
  margin-top: 5rem;
}

.footer-content p {
  color: #6c63ff;
  font-weight: bold;
  line-height: 1.8rem;
}
/*Fim da estilização da tag footer*/
