* {
  font-family: Inter, sans-serif;
  color: #454545;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

p {
  margin: 0;
}

.main-content {
  background-color: #ffffff;
  width: 64rem;
  margin: 0 auto; /*centraliza a main*/
  padding: 2rem 5rem; /*vertical 1.17rem e horizontal 5rem*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar .logo {
  width: 250px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 0;
}

.menu a {
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  font-weight: bold;
  color: #6c63ff;
}

.header-content h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

.header-content p {
  text-align: center;
  font-size: 1.3rem;
}

.dash {
  border-bottom: 4px solid #f2f2f2f2;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.about-content h2 {
  margin-top: 0;
  font-size: 2rem;
}

.about-content p {
  font-size: 1.5rem;
  text-align: justify;
}

.about-content span {
  color: #6c63ff;
}

.about-content img {
  width: 300px;
}

.interests-content {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.interests-content h2 {
  margin-top: 0;
  font-size: 2rem;
}

.interests-content ul {
  font-size: 1.5rem;
  text-align: justify;
  list-style: none;
  padding: 0;
}

.interests-content ul li {
  line-height: 2.5rem;
}

.interests-content img {
  width: 567px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
}

.contact-content h2 {
  margin-top: 0;
  font-size: 2rem;
}

.contact-content img {
  width: 300px;
}

.form-box {
  width: 700px;
}

.text-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.text-box input {
  background-color: #f2f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #6c63ff;
  width: 50%;
  box-sizing: border-box;
}

.text-message {
  margin-top: 1rem;
}

.text-message textarea {
  background-color: #f2f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #6c63ff;
  width: 100%;
  box-sizing: border-box; /*corrige o problema do padding aumentar o tamanho da textarea*/
}

.button-box {
  margin-top: 0.7rem;
  text-align: right;
}

.submit-button {
  background-color: #6c63ff;
  border-color: #6c63ff;
  color: #f2f2f2;
  padding: 0.2rem 1.2rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.8;
}

.footer-content {
  text-align: center;
  margin-top: 5rem;
}

.footer-content p {
  color: #6c63ff;
  font-weight: bold;
  line-height: 1.8rem;
}
